.backgroundImage {
  background-image: url("../../../public/images/section-content-6-image.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding-top: 53.3%;
}

.backgroundImageWrap {
  max-width: 555px;
  margin: 0 auto;
}
