$padding: 40px;
$tabletWidth: 744px;
$mobileWidth: 375px;

.wrapper {
  padding: 0 $padding;
  max-width: calc(1200px + $padding * 2);
  margin: 0 auto;

  @media (max-width: $tabletWidth) {
    gap: 0 !important;
    padding: 0;
    max-width: 1200px;
  }
}

.memoryItem {
  box-shadow: 0px 0.75px 1.38px 0px #00000020, 0px 6px 11px 0px #00000040;

  .backgroundImage {
    background-image: url("https://picsum.photos/300/300");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100%;
    border-radius: 16px;
    background-position: center;
  }

  .description {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -1px;
    white-space: pre-line;
  }
}

.memoryLastItem {
  height: 100%;
  box-shadow: unset;
  background-color: #f7f7f8;
  border-color: #e4e4e7;
  padding-top: 53px !important;

  .text1 {
    font-size: 22px;
    color: #8d8c97;
  }

  .text2 {
    font-size: 27px;
    color: var(--text-primary);
  }
}

.tabletHidden {
  @media (max-width: $tabletWidth) {
    display: none !important;
  }
}

@media (max-width: $tabletWidth) {
  .memoryRow {
    display: block;
    margin: 0;
    gap: 0;
    white-space: nowrap;
    overflow-x: auto;
    padding-bottom: 12px;
  }

  .memoryItemWrap {
    width: 384px;
    display: inline-block;
  }
}
