.backgroundImage {
  padding-top: 83.8%;
}

.backgroundImageWrap {
  max-width: 682px;
  margin: 0 auto;
}

.image1 {
  width: 614px;
  height: 378px;
  top: 0;
}

.image2 {
  width: 200px;
  bottom: 10%;
  left: 10%;
}

.image3 {
  width: 240px;
  bottom: 7%;
  left: 31%;
}

.image4 {
  width: 180px;
  bottom: 2%;
  left: 18%;
}

@media (max-width: 576px) {
  .image1 {
    height: 240px;
  }

  .image2 {
    width: 120px;
    bottom: 10px;
  }

  .image3 {
    width: 160px;
    bottom: 10px;
  }

  .image4 {
    width: 100px;
    bottom: 0;
  }
}
