$padding: 40px;
$mobilePadding: 16px;
$tabletWidth: 744px;
$mobileWidth: 576px;

.wrapper {
  margin-top: 160px;
  margin-bottom: 52px;
  padding: 0px $padding;
  max-width: calc(897px + $padding * 2);

  @media (max-width: $tabletWidth) {
    margin-top: 138px;
    row-gap: 16px !important;
  }

  @media (max-width: $mobileWidth) {
    padding: 0 $mobilePadding;
  }
}

.firstRow {
  height: 136px;

  @media (max-width: $tabletWidth) {
    height: 154px;
    column-gap: 16px !important;
  }

  @media (max-width: $mobileWidth) {
    height: auto;
    gap: 16px !important;
    flex-wrap: wrap;
    display: grid !important;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.boxWrap {
  border-color: #e4e4e7;
  background-color: #f7f7f8;
  padding: 0 8px;
}

.largeTxt {
  font-size: 53px;
  color: var(--text-primary);

  @media (max-width: $tabletWidth) {
    font-size: 34px;
  }
}

.boxDescription {
  font-size: 18px;
  color: #8d8c97;
}

.secondBox {
  width: 136px;
  background-image: url("/images/rocket.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  .rocketLaunchIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.awardBox {
  height: 100%;
}

.awardImage1 {
  top: 0;
  height: 155px;
  z-index: 1;

  @media (max-width: $tabletWidth) {
    height: 100px;
    top: 25%;
  }
}

.awardImage2 {
  top: 12px;
  height: 130px;
  left: 50%;
  transform: translateX(-115%);

  @media (max-width: $tabletWidth) {
    height: 60px;
    top: 35%;
  }
}

.awardImage3 {
  @extend .awardImage2;
  right: 0;
  transform: translateX(-12%);
  left: unset;

  @media (max-width: $mobileWidth) {
    transform: translateX(-25%);
  }
}

.awardImage {
  height: 100%;
  margin-top: 6px;
  object-fit: contain;
}

.box4 {
  width: 136px;
  box-shadow: 0px 0.32px 0.32px 0px #0000000d, 0px 0.64px 0.64px 0px #0000000d,
    0px 1.28px 1.28px 0px #0000000d, 0px 2.55px 2.55px 0px #0000000d,
    0px 5.1px 5.1px 0px #0000000d, 0px 10.2px 10.2px 0px #0000000d,
    0px 20.4px 20.4px 0px #0000000d;
  border-radius: 20px;
}

.box4Image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.flex2 {
  flex: 2;
}

.box5 {
  max-width: 728px;
  min-height: 161px;

  @media (max-width: $tabletWidth) {
    min-height: 120px;
    padding: 24px 98px;
  }

  @media (max-width: $mobileWidth) {
    min-height: 145px;
    padding: 24px;
  }
}

.box5Txt {
  letter-spacing: -3px;
  line-height: 74px;

  @media (max-width: $tabletWidth) {
    line-height: 1.2;
  }

  @media (max-width: $mobileWidth) {
    font-size: 27px;
  }
}

.row3 {
  height: 136px;

  @media (max-width: $tabletWidth) {
    height: 154px;
  }

  @media (max-width: $mobileWidth) {
    display: grid !important;
    height: auto;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 16px !important;
  }
}

.box6 {
  width: 289px;
  @media (max-width: $tabletWidth) {
    width: 100%;
    flex: 1;
  }
}

.box7 {
  @media (max-width: $tabletWidth) {
    width: 154px;
  }
}

.box7Image {
  border-radius: 12px;
}

.box6Star1 {
  left: 120px;
}

.box6Star2 {
  right: 26px;
}

.box6Star3 {
  top: 50px;
}

.box6Star4 {
  left: 95px;
}

.box6Star5 {
  top: 47px;
}

.box8 {
  @media (max-width: $tabletWidth) {
    width: auto;
    flex: 1;
  }
}

@media (max-width: $mobileWidth) {
  .box1Wrap,
  .secondBox,
  .box3,
  .box4 {
    height: 164px;
    width: 100%;
  }

  .box6,
  .box7 {
    height: 164px;
    width: auto !important;
  }

  .box8 {
    height: 164px;
    grid-column: 1 / -1;
  }
}
