.backgroundImage {
  padding-top: 62.4%;
}

.backgroundImageWrap {
  max-width: 705px;
  margin: 0 auto;

  @media (max-width: 375px) {
    max-width: 100%;
    padding: 0 10px;
  }
}

.image1 {
  width: 140px;
  top: 0;
  left: 40%;
  z-index: 10;
}

.image2 {
  left: 0;
  top: 5%;
  width: 230px;
  z-index: 9;
}

.image3 {
  left: 23%;
  top: 5%;
  width: 230px;
}

.image4 {
  width: 230px;
  top: 10%;
  left: 44%;
  z-index: 8;
}

.image5 {
  width: 230px;
  right: 0;
  top: 3%;
  z-index: 9;
}

.image6 {
  width: 80px;
  top: 38%;
  left: 5%;
  z-index: 10;
}

.image7 {
  width: 230px;
  bottom: 5%;
  left: 10%;
}

.image8 {
  width: 260px;
  bottom: 0;
  left: 29%;
}

.image9 {
  width: 240px;
  right: 10%;
  bottom: 5%;
  z-index: 8;
}

.image10 {
  width: 150px;
  right: 0;
  top: 41%;
  z-index: 10;
}

.image11 {
  width: 275px;
  bottom: 0;
  left: 15%;
}

@media (max-width: 375px) {
  .image2,
  .image3,
  .image4,
  .image5,
  .image7,
  .image8,
  .image9,
  .image10,
  .image11 {
    width: 120px;
  }
}
