.backgroundImage {
  background-image: url("../../../public/images/section-content-2-image.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding-top: 62.4%;
}

.backgroundImageWrap {
  max-width: 705px;
  margin: 0 auto;
}
