$padding: 40px;

.wrapper {
  padding: 120px 0;
}

.footerInner {
  padding: 0 $padding;
  max-width: calc(800px + $padding * 2);

  @media (max-width: 576px) {
    max-width: 100%;
    padding: 0 16px;
  }
}

.title {
  font-size: 18px;
  color: var(--text-primary);
}

.dropdown {
  width: 147px;
  box-shadow: 0px 1px 2px 0px #05050526;
  border-color: #e4e4e7;
  height: 26px;
  padding: 0px 6px;
  cursor: pointer;
}

.dropdownTxt {
  color: var(--text-primary);
  font-size: 14px;
}

.listMenu {
  margin: 68px 0;

  @media (max-width: 576px) {
    flex-direction: column;
  }
}

.menuColumnLeft {
  column-gap: 68px;

  @media (max-width: 576px) {
    display: grid !important;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    row-gap: 32px;
  }
}

.menuTxt {
  color: #8d8c97;
  font-size: 14px;
  letter-spacing: -0.5px;
  line-height: 1.2;
}

.menuTitle {
  color: var(--text-primary);
  font-size: 14px;
}

.listIcon {
  column-gap: 20px;
}

.divider {
  flex: 1;
  height: 1px;
  background-color: #e4e4e7;
}

.backedBy {
  padding: 0px 6px;
  height: 26px;
  border-color: #e4e4e7;
  border-radius: 6px;
}

.footerBottom {
  margin-top: 80px;
  padding: 0 $padding;

  @media (max-width: 576px) {
    flex-direction: column;
  }
}

.menuColumnRight {
  @media (max-width: 576px) {
    margin-top: 40px;
    border-top: 1px solid #e4e4e7;
    padding-top: 40px;
    text-align: center;

    .listIcon {
      justify-content: center !important;
    }
  }
}
