.backgroundImage {
  background-image: url("../../../public/images/section-content-3-image.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding-top: 59.8%;
}

.backgroundImageWrap {
  max-width: 642px;
  margin: 0 auto;
}
