.backgroundImage {
  padding-top: 70.4%;
}

.backgroundImageWrap {
  max-width: 682px;
  margin: 0 auto;
}

.image1 {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.image2 {
  width: 182px;
  height: 182px;
  top: 0;
  left: 25%;
}

.image3 {
  width: 332px;
  height: 293px;
  object-fit: contain;
  bottom: 0;
  left: 0;
}

.image4 {
  width: 140px;
  height: 140px;
  object-fit: contain;
  bottom: 8%;
  right: 15%;
}

@media (max-width: 576px) {
  .image3 {
    height: 187px;
    width: 212px;
    left: -12%;
    bottom: -10%;
  }

  .image4 {
    width: 80px;
    height: 80px;
  }

  .image2 {
    width: 100px;
    height: 100px;
  }
}
